body * {
    text-align: center;
}

h1 {
    color: #5e958d;
    font-size: 2rem;
}

input {
    font-size: 1rem;
    border-radius: 1em;
    border-style: solid;
}

input:focus {
    outline: none;
}

#submit, #logout {
    background-color: #96d9d0;
    border-style: solid;
    border-color: #84c6bd;
}