<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
<h1>Hello {{username}}!</h1>
<!--<button id="logout" type="submit">Log out</button>-->

<!--<p>-->
<!--    <input formmethod="post" id="logout" type="submit" value="Log out">-->
<!--</p>-->
<form method="post">
    <p>
        <input id="logout" type="submit" value="Log out">
    </p>
</form>
</body>
</html>